#t, #block_summ
{
    font-size: 40px;
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    top: 60%;

    text-align: center;
    display: block;
    background: linear-gradient(90deg, #fff 50%, #000 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#block_summ {
    top: 75%!important;
    font-size: 20px;
    font-weight: bold;
}
.slide1 {
    position: absolute;
    top: 25%;
    width: 50%;
    display: block;
}
.slide2 {
    position: absolute;
    top: 25%;
    width: 50%;
    display: block;
}
